body{
    background: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0, 0.5);
    overflow: hidden;
}

.header{
    background: linear-gradient(120deg, #0b6439 0%, #35ac4c 100%);
    padding: 24px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header img{
    width: 60px;
}

.form{
    padding: 18px;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}

.form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}

.form button{
    background-color: #48A25A;
    color: #fff;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
    font-weight: 600;
}

.form-content.error input{
    border-color: #ff3b25;
}

.form-content.error a{
    color: #ff3b25;
    visibility: visible;
}